@import "./generalImports/marterialIcon";

@import "./generalImports/generalCSS";

@import "./generalImports/mixin";


@import "./sections/popups";
@import "./sections/loaders";

@import "./generalImports/keyframes";



/* navigation bar */
nav.head_nav{
    background-color:blue;
    display:flex;
    align-items: center;
    margin-bottom: 0;
    width:100%;
    height: 50px;

    ul{
        display:inline-flex;
        align-items:center;
        height:80%;
        width:95%;
        padding:0;
    }
    
    
    a, .notActiveBt{
        position:relative;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        height:80%;
        margin:0 2.5px;
        padding:0 2%;
    
        font-size:110%;
        text-decoration:none;
        color: white;
        border-radius:5px;
        transition: background 1s, color 0.5s, border-radius 1s;
    }
    
    a:hover{
        color:blue;
        background-color:white;
        border-radius: 12px;
    }
    .activeBt{
        color:blue;
        background-color:white;
        opacity:0.85;
    }
        
}

/* bodycontent */
section#pageSection{
    display:flex;
    width:100%;
    min-height:500px;/*for safari*/
    min-height:calc(100vh - (70px + 50px + 50px));
    padding:0;
    background-color:whitesmoke;
    position:relative;
    margin-bottom:0;
    height:calc(100vh - 50px);
}

.hide{
    display:none;
}


.flexCenter{
    display:flex;
    justify-content:center;
    align-items: center;
}






@import "./sections/msgChat/msgChat";

@import "./sections/msgMsg/msgMsg";














/*  the default website ends here     *//*---------------------------------------------------------------------------------------------------------------------------*/

@import "./generalImports/mediaQueries";



