/* for material icon or google icon */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/_material-design-icons-master/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/_material-design-icons-master/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(/_material-design-icons-master/iconfont/MaterialIcons-Regular.woff) format("woff"), url(/_material-design-icons-master/iconfont/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga'; }

/* marterial icon code endes here */
* {
  margin: 0 auto;
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: verdana;
  text-align: justify; }

body {
  background-color: whitesmoke; }

/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 1px; }

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 1px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; }

:disabled {
  opacity: 0.3;
  border: 1px solid black; }

table, table th, table td, table tr {
  border: 1px solid black;
  border-collapse: collapse; }

h1 {
  font-size: 200%;
  line-height: 1.3em; }

h2 {
  font-size: 150%;
  line-height: 1.3em; }

h3 {
  font-size: 130%;
  line-height: 1.3em; }

h4 {
  font-size: 100%; }

h5 {
  font-size: 80%; }

h6 {
  font-size: 70%; }

a {
  color: black; }

a:hover {
  color: blue; }

#mousePositionBody,
#showProfilePicture,
#deleteMessageOption,
#deleteChatOption,
#deleteChatOption,
#msgInfoPopUp,
#chatMousePosBody {
  position: absolute;
  background-color: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0; }

#mousePositionBody {
  z-index: 2; }

#chatMousePosBody {
  z-index: 3;
  width: 100vw;
  left: 0;
  display: none; }

#showProfilePicture {
  /* background-color:red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1; }
  #showProfilePicture.hide {
    display: none; }
  #showProfilePicture img {
    max-width: 90%;
    max-height: 90%; }
  #showProfilePicture .close {
    background-color: red;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0; }


#deleteMessageOption,
#deleteChatOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  opacity: 1;
  z-index: 6;
  /* color:black; */ }
  #deleteMessageOption.hide, .hide#deleteChatOption {
    display: none; }
  #deleteMessageOption .hide, #deleteChatOption .hide {
    display: none; }
  #deleteMessageOption > span, #deleteChatOption > span {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    min-width: 25%;
    -webkit-box-shadow: 3px 3px 3px gray, -4px -4px 4px gray;
    box-shadow: 3px 3px 3px gray, -4px -4px 4px gray; }
  #deleteMessageOption > span > div, #deleteChatOption > span > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px 10px;
    margin: 0;
    margin-bottom: 1px; }
  #deleteMessageOption > span > div span, #deleteChatOption > span > div span {
    margin: 0; }
  #deleteMessageOption > span > div span.action, #deleteChatOption > span > div span.action {
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: green;
    cursor: pointer;
    text-shadow: -0.5px -0.5px green, 0.5px 0.5px green; }
  #deleteMessageOption > span > div span.action:hover, #deleteChatOption > span > div span.action:hover {
    background-color: rgba(60, 175, 60, 0.4); }

#msgInfoPopUp {
  background: #f3e9e9;
  opacity: 1; }
  #msgInfoPopUp .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 1% 1%;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: whitesmoke; }
    #msgInfoPopUp .head.bodyScrl {
      background: #dbd8d8; }
    #msgInfoPopUp .head .back {
      display: inline;
      margin: 0;
      cursor: pointer;
      margin-right: 1%; }
    #msgInfoPopUp .head .title {
      margin: 0; }
  #msgInfoPopUp .body {
    height: calc(100vh - (50px + 40px));
    overflow: auto; }
    #msgInfoPopUp .body hr {
      border-color: #a19999; }
    #msgInfoPopUp .body .MIPMsg {
      background: whitesmoke;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 1%; }
    #msgInfoPopUp .body .MIPSta {
      background: #928e8e;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 95%;
      margin-top: 1.7%;
      border-radius: 5px;
      padding: 1.5%; }
      #msgInfoPopUp .body .MIPSta * {
        margin: 0; }
      #msgInfoPopUp .body .MIPSta .MIPRead,
      #msgInfoPopUp .body .MIPSta .MIPDeliver {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        #msgInfoPopUp .body .MIPSta .MIPRead .title .read,
        #msgInfoPopUp .body .MIPSta .MIPDeliver .title .read {
          display: inline;
          font-size: 100%;
          color: gray; }
      #msgInfoPopUp .body .MIPSta .MIPRead .title .read {
        color: #44b9e7; }

.loaderBackground,
.contentLoader {
  position: absolute;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0; }

.loaderBackground {
  background-color: gray;
  opacity: 0.8; }

.contentLoader {
  opacity: 1; }
  .contentLoader * {
    margin: 0; }
  .contentLoader div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 1%;
    background: #0b3c5c; }
    .contentLoader div .text {
      color: #3498db;
      padding-right: 3%;
      font-size: 20px;
      font-weight: 600; }
    .contentLoader div .spiner {
      border: 5px solid #f3f3f3;
      /* Light grey */
      border-top: 5px solid #3498db;
      /* Blue */
      border-radius: 50%;
      width: 35px;
      height: 35px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite; }
    .contentLoader div .boxes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-animation: boxes 2s linear infinite;
      animation: boxes 2s linear infinite; }
      .contentLoader div .boxes * {
        margin: 1%;
        background: #3498db;
        width: 10px;
        height: 10px; }

@-webkit-keyframes inActive {
  0% {
    opacity: .5; }
  100% {
    opacity: .75; } }

@keyframes inActive {
  0% {
    opacity: .5; }
  100% {
    opacity: .75; } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes boxes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes boxes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* navigation bar */
nav.head_nav {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  height: 50px; }
  nav.head_nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80%;
    width: 95%;
    padding: 0; }
  nav.head_nav a, nav.head_nav .notActiveBt {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80%;
    margin: 0 2.5px;
    padding: 0 2%;
    font-size: 110%;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    -webkit-transition: background 1s, color 0.5s, border-radius 1s;
    transition: background 1s, color 0.5s, border-radius 1s; }
  nav.head_nav a:hover {
    color: blue;
    background-color: white;
    border-radius: 12px; }
  nav.head_nav .activeBt {
    color: blue;
    background-color: white;
    opacity: 0.85; }

/* bodycontent */
section#pageSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 500px;
  /*for safari*/
  min-height: calc(100vh - (70px + 50px + 50px));
  padding: 0;
  background-color: whitesmoke;
  position: relative;
  margin-bottom: 0;
  height: calc(100vh - 50px); }

.hide {
  display: none; }

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#chat {
  /* align-self:flex-start; */
  position: relative;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 35%;
  border-right: 1px solid #E5DDD5; }

#chat #chatHead {
  background-color: #EDEDED;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#chat #chatHead #chatHeadNormal {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* display:none; */ }

#chat #chatHead #chatHeadNormal #chatChatMinimize {
  margin: 0 0.4%;
  height: 40px;
  width: 40px;
  margin-left: 0;
  cursor: pointer; }

#chat #chatHead #chatHeadNormal #chatHeadPix, #chat #chatHead #chatHeadNormal #chatHeadPix img {
  margin: 0 0.4%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer; }

#chat #chatHead #chatHeadNormal #chatSubContain {
  margin: 0 0.4%;
  width: 40px;
  height: 40px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

#chat #chatHead #chatHeadNormal #chatSubContain > div {
  margin: 0 2%; }

#chat #chatHead #chatHeadNormal #chatSubContain #chatHeadChat,
#chat #chatHead #chatHeadNormal #chatSubContain #chatHeadSearchChat {
  /* margin-right:0; */
  cursor: pointer; }
  #chat #chatHead #chatHeadNormal #chatSubContain #chatHeadChat.hide,
  #chat #chatHead #chatHeadNormal #chatSubContain #chatHeadSearchChat.hide {
    display: none; }

#chat #chatHead #chatHeadNormal #chatSubContain #chatHeadOthers {
  margin-right: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%; }

#chat #chatHead #chatHeadNormal #chatSubContain .chatHeadOthersOptions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
  box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
  background-color: #FFFFFF;
  min-width: 40%;
  top: 95%;
  right: 0;
  z-index: 3; }

#chat #chatHead #chatHeadNormal #chatSubContain .chatHeadOthersOptions > p {
  padding: 3% 10%;
  width: 100%;
  cursor: pointer;
  display: block; }

#chat #chatHead #chatHeadNormal #chatSubContain .chatHeadOthersOptions > p:hover {
  background-color: #F5F5F5; }

#chat #chatHead #chatHeadSelected {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none; }

#chat #chatHead #chatHeadSelected > div {
  cursor: pointer; }

#chat #chatSearch {
  position: relative;
  background-color: #d6d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 4% 0;
  width: 100%;
  border: 1px solid #EDEDED; }
  #chat #chatSearch .hide {
    display: none; }
  #chat #chatSearch.typingFocus {
    background-color: #FFFFFF; }
  #chat #chatSearch > div {
    position: relative;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    padding: 0 10px;
    border-radius: 30px; }
  #chat #chatSearch #chatSearchBack,
  #chat #chatSearch #chatSearchClear {
    font-size: 120%;
    cursor: pointer;
    color: gray;
    margin: 0; }
  #chat #chatSearch #chatSearchBack {
    font-size: 150%; }
  #chat #chatSearch #chatSearchBack.arrow_back {
    color: #05c3fd; }
  #chat #chatSearch > div > div {
    /* background-color:rgb(150, 23, 23); */
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: calc(100% - 40px);
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #chat #chatSearch > div > div .chatSearchInput {
      /* background-color:rgb(185, 102, 102); */
      position: relative;
      display: inline-block;
      max-width: 100%;
      padding: 4px;
      margin: 0;
      /* border:1px solid black; */
      max-height: 10vh;
      white-space: nowrap;
      overflow: hidden;
      outline: none;
      cursor: text; }
      #chat #chatSearch > div > div .chatSearchInput.placeholder {
        position: absolute;
        color: gray; }
      #chat #chatSearch > div > div .chatSearchInput.hide {
        display: none; }
  #chat #chatSearch > .chatSearchClose {
    position: absolute;
    font-size: 95%;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #535252; }
    #chat #chatSearch > .chatSearchClose:hover {
      background: red; }

#chat #chatBody {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto; }

.chat .chatBody .chatContainNotActive {
  opacity: 0.75;
  -webkit-animation: inActive 1s linear infinite;
  animation: inActive 1s linear infinite; }

.chat .chatBody .chatContain,
.chat .chatBody .chatContainNotActive {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0 3%; }

.chat .chatBody .chatContain.hover:hover {
  background-color: #F5F5F5; }

.chat .chatBody .chatContain.hover:hover .chatSubContain .lMegContain .lMegContain2 .chatExpandMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.chat .chatBody .chatContain .chatSelected {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  left: 0; }

.chat .chatBody .chatContain .chatPix, .chat .chatBody .chatContain img,
.chat .chatBody .chatContainNotActive .chatPix, .chat .chatBody .chatContainNotActive img {
  position: relative;
  margin: 0 1%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer; }

.chat .chatBody .chatContain .chatPix .chatSelect {
  position: absolute;
  background-color: #06D755;
  color: white;
  font-size: 70%;
  padding: 5%;
  border-radius: 50%;
  border: 1px solid white;
  left: 0;
  top: 0;
  display: none; }

.chat .chatBody .chatContain .chatPix .online,
.chat .chatBody .chatContainNotActive .chatPix .online {
  position: absolute;
  background-color: #06D755;
  color: white;
  padding: 12%;
  border-radius: 50%;
  border: 1px solid white;
  right: 0;
  bottom: 0;
  display: none; }

.chat .chatBody .chatContain .chatSubContain,
.chat .chatBody .chatContainNotActive .chatSubContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40px;
  margin: 0 1%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0;
  padding: 4% 0;
  border-bottom: 1px solid #EDEDED; }

.chat .chatBody .chatContain .chatSubContain .nameContain,
.chat .chatBody .chatContainNotActive .chatSubContain .nameContain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px; }

.chat .chatBody .chatContain .chatSubContain .nameContain .nameSubContain,
.chat .chatBody .chatContainNotActive .chatSubContain .nameContain .nameSubContain {
  height: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.chat .chatBody .chatContain .chatSubContain .nameContain .chatTimeContain,
.chat .chatBody .chatContainNotActive .chatSubContain .nameContain .chatTimeContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  min-width: 10px;
  font-size: 65%;
  color: gray; }

.chat .chatBody .chatContain .chatSubContain .lMegContain,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain1,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain .lMegContain1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 20px; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain1 .lMegRead,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain .lMegContain1 .lMegRead {
  min-width: 5px;
  height: 20px;
  font-size: 80%; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain1 .lMegRead.read,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain .lMegContain1 .lMegRead.read,
.messageContainer .seen.read {
  color: #44b9e7; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain1 .lMeg,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain .lMegContain1 .lMeg {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50px;
  font-size: 80%;
  height: 20px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain .lMegContain2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 20px;
  height: 20px; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2 .chatPined,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain .lMegContain2 .chatPined {
  min-width: 20px;
  height: 20px;
  font-size: 70%;
  padding: 0 5%;
  color: gray; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2 .chatExpandMore,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain .lMegContain2 .chatExpandMore {
  min-width: 20px;
  height: 20px;
  padding: 0 0%;
  color: gray;
  display: none; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2 .chatMoreOptions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
  box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
  background-color: #FFFFFF;
  min-width: 40%;
  top: 0;
  right: 3%;
  z-index: 3; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2 .chatMoreOptions > p {
  margin: 0;
  padding: 3% 10%;
  width: 100%;
  cursor: pointer;
  display: block; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2 .chatMoreOptions > p.processing {
  opacity: 0.75;
  -webkit-animation: inActive 1s linear infinite;
  animation: inActive 1s linear infinite; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2 .chatMoreOptions > p:hover {
  background-color: #F5F5F5; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2 .chatMoreOptions > p.processing:hover {
  background-color: none; }

.chat .chatBody .chatContain .chatSubContain .lMegContain .lMegContain2 .chatCount,
.chat .chatBody .chatContainNotActive .chatSubContain .lMegContain .lMegContain2 .chatCount {
  min-width: 20px;
  height: 20px;
  color: white;
  font-size: 70%;
  border-radius: 50%;
  background-color: #06D755; }

#chat #chatBody #getOlderChat {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: gray;
  border: 1px solid gray;
  font-size: 120%;
  padding: 3% 0; }

#chat #chatBody .noChatFound {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: gray; }

#message {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 65%; }

#message #msgDate {
  display: none;
  background-color: gray;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 64px;
  z-index: 2;
  border-radius: 2px; }

#message #msgDate.add {
  display: inline; }

#message #showChatBox {
  position: absolute;
  border-radius: 50%;
  font-size: 180%;
  background-color: blue;
  width: 40px;
  height: 40px;
  z-index: 3;
  right: 20px;
  margin: 0;
  /* top:45px; */
  bottom: 5px;
  cursor: pointer; }

#message #messageHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #EDEDED;
  width: 100%;
  height: 60px;
  padding-left: 2%; }

#message #messageHead #messageHeadNormal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* display:none; */ }

#message #messageHead #messageHeadNormal > div {
  margin: 0 0.4%;
  height: 40px;
  width: 40px;
  cursor: pointer; }

#message #messageHead #messageHeadNormal #messageChatMaximize {
  height: 40px;
  width: 40px;
  margin-left: 0;
  cursor: pointer;
  display: none; }

#message #messageHead #messageHeadNormal #messageHeadPix, #message #messageHead #messageHeadNormal #messageHeadPix img {
  height: 45px;
  width: 45px;
  border-radius: 50%; }

#message #messageHead #messageHeadNormal #messageHeadNameContain {
  position: relative;
  width: calc(100% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 1%; }

#message #messageHead #messageHeadNormal #messageHeadNameContain > div {
  /* flex:1; */
  width: 100%; }

#message #messageHead #messageHeadNormal #messageHeadNameContain #messageHeadName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  width: 90%; }

#message #messageHead #messageHeadNormal #messageHeadNameContain #messageHeadNameTime {
  font-size: 65%; }

#message #messageHead #messageHeadNormal #messageHeadOthers, #message #messageHead #messageHeadSelected #messageHeadOthersS {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%; }

#message #messageHead #messageHeadNormal .messageHeadOthersOptions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
  box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
  background-color: #FFFFFF;
  min-width: 40%;
  top: 9%;
  right: 0;
  z-index: 3; }

#message #messageHead #messageHeadNormal .messageHeadOthersOptions > p {
  padding: 3% 10%;
  width: 100%;
  cursor: pointer;
  display: block; }

#message #messageHead #messageHeadNormal .messageHeadOthersOptions > p:hover {
  background-color: #F5F5F5; }

#message #messageHead #messageHeadSelected {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none; }

#message #messageHead #messageHeadSelected > div {
  height: 40px;
  width: 22px;
  margin: 0 1.5%;
  cursor: pointer; }

#message #messageHead #messageHeadSelected > .hide {
  display: none; }

#message #messageHead #messageHeadSelected #messageHeadCount {
  margin-right: 8%;
  cursor: default; }

#message #messageHead #messageHeadSelected #messageHeadFoward {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

#message .selectAChatW {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: gray; }

#message .selectAChatBtn {
  display: none;
  border: 1px solid grey;
  padding: 2%;
  cursor: pointer;
  border-radius: 50%;
  border-top-left-radius: 0;
  -webkit-transition: all ease .5s;
  transition: all ease .5s; }
  #message .selectAChatBtn:hover {
    background: #6b6a6a;
    color: white;
    border-radius: 50%;
    border-bottom-left-radius: 0; }

#message #messageBody {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  background-color: #E5DDD5; }

#message #messageBody .msgDate {
  background-color: gray;
  display: inline;
  position: relative;
  left: 47%;
  margin: 5% 0 10% 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-radius: 2px; }

#message #chatBox {
  background-color: #F0F0F0;
  position: relative;
  width: 100%;
  /* max-height:20vh; */
  max-height: 30vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: none;
  /* display:flex; */ }

#message #chatBox .send {
  height: 40px;
  width: 40px;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: green;
  cursor: pointer; }

#message #chatBox .send {
  border-radius: 50%; }

#message #chatBox #closeChatBox {
  position: absolute;
  font-size: 100%;
  border-bottom-right-radius: 50%;
  background-color: red;
  cursor: pointer;
  margin: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
  top: 0;
  left: 0; }

#message #chatBox .cchatBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: calc(100% - 50px);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* background: #06D755; */
  margin: 0;
  border-radius: 30px; }

#message #chatBox .textMegContain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 5px 5px;
  border-radius: 30px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  box-shadow: 1px 1px 2px #ccc;
  /* background: red; */ }

#message #chatBox .textMegContain.replying {
  border-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

#message #chatBox .textMegContain .replyedMeg {
  width: 100%;
  position: relative;
  /* background: rgb(97, 62, 62); */
  margin: 0; }

#message #chatBox .textMegContain .replyedMeg.hide {
  display: none; }

#message #chatBox .textMegContain .replyedMeg .close {
  /* background:red; */
  position: absolute;
  cursor: pointer;
  font-size: 100%;
  z-index: 1;
  top: 0;
  right: 0; }

#message #chatBox .textMegContain .replyedMeg .close:hover {
  background: red; }

#message #chatBox .textMegContain .textContain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

#message #chatBox .textMegContain .text {
  position: relative;
  display: inline-block;
  max-height: calc(18vh - 10px);
  width: 90%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  /* border-radius:30px; */
  outline: none;
  cursor: text;
  overflow: auto;
  padding: 0 4px;
  /* background:blue; */ }

#message #chatBox .textMegContain .text.placeholder {
  position: absolute;
  color: gray;
  /* height:100%; */
  /* background: yellow; */ }

#message #chatBox .textMegContain .text.hide {
  display: none; }

#message #messageBody #loadOlderMsgsBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  border: 1px solid gray;
  color: gray;
  cursor: pointer; }

.msgWrapper,
.msgSendingWrapper,
.msgWrapperNotActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: none;
  width: 100%;
  margin: 0;
  padding: 0; }

.msgWrapperNotActive {
  opacity: 0.75;
  -webkit-animation: inActive 1s linear infinite;
  animation: inActive 1s linear infinite; }

.msgWrapper.first,
.msgWrapperNotActive.first {
  margin-top: 0.4%; }

.msgWrapper.sent,
.msgSendingWrapper.sent,
.msgWrapperNotActive.sent {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.msgWrapper.recieved,
.msgSendingWrapper.recieved {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.selected {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 2; }

.selected.hover:hover {
  background-color: gray; }

.selected.s {
  background-color: gray; }

.Megchecked {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; }

.sent .Megchecked {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.recieved .Megchecked {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.Megchecked input {
  margin: 0; }

.megMore {
  /* background-color:rgba(128, 128, 128, 0.829); */
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.795)), to(rgba(128, 128, 128, 0.808)));
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.795), rgba(128, 128, 128, 0.808));
  border-bottom-left-radius: 50%;
  padding-left: 5px;
  position: absolute;
  right: 0;
  margin-right: 0.8%;
  z-index: 2;
  cursor: pointer;
  display: none; }
  .megMore .subMsgMore {
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    font-size: 150%;
    margin: 0;
    padding: 0;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .megMore .subMsgMore.optionUp {
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg); }

.megMoreOptionsBackground {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
  box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
  background-color: white;
  min-width: 62px;
  padding: 0 3% 0 0;
  top: 0;
  right: 0;
  z-index: 3; }

.megMoreOptions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0; }

.megMoreOptions > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0;
  padding: 3% 10%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  cursor: pointer; }

.megMoreOptions > p.processing {
  opacity: 0.75;
  -webkit-animation: inActive 1s linear infinite;
  animation: inActive 1s linear infinite; }

.megMoreOptions > p:hover {
  background-color: #F5F5F5;
  background-color: blue; }

.replyedMeg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  max-height: 10vh;
  /* background-color:gray; */
  margin-bottom: 2%; }

.replyedMeg > div {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  opacity: 0.2; }

.replyedMeg a {
  position: relative;
  cursor: pointer;
  color: #1d1c1c;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 80%;
  max-height: 10vh;
  padding: 2%;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.replyedMeg a:hover {
  color: #859677; }

.replyedMeg > .you {
  background-color: green;
  max-height: 10vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 2%; }

.replyedMeg a span.you {
  color: green;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.replyedMeg > .notYou {
  background-color: purple;
  max-height: 10vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 2%; }

.replyedMeg a span.notYou {
  color: purple;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.replyedMeg a span {
  display: block; }

.messageContainer,
.delMsgContainer,
.msgSendingContainer {
  position: relative;
  border-radius: 5px;
  padding: 1%;
  margin: 0.4% 0;
  max-width: 90%; }

.messageContainer:hover .megMore,
.delMsgContainer:hover .megMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.msgWrapperNotActive:hover .megMore {
  display: none; }

.messageContainer.sent.first::after,
.delMsgContainer.sent.first::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-top: 10px solid #dddddd;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -10px;
  top: 0; }

.messageContainer.recieved.first::before,
.delMsgContainer.recieved.first::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -10px;
  top: 0; }

.messageContainer.sent,
.delMsgContainer.sent,
.msgSendingContainer.sent {
  background-color: #dddddd;
  margin-right: 10px;
  -webkit-box-shadow: 2px 2px 1px #c0bcbc, -2px -1px 1px #c0bcbc;
  box-shadow: 2px 2px 1px #c0bcbc, -2px -1px 1px #c0bcbc; }

.messageContainer.recieved,
.delMsgContainer.recieved,
.msgSendingContainer.recieved {
  background-color: white;
  margin-left: 10px;
  -webkit-box-shadow: 3px 2px 1px #c0bcbc, -2px -1px 1px #c0bcbc;
  box-shadow: 3px 2px 1px #c0bcbc, -2px -1px 1px #c0bcbc; }

.delMsgContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.messageContainer .timeContain,
.msgSendingContainer .timeContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #aaa;
  font-size: 70%;
  margin-bottom: 1%;
  margin-right: 1%;
  bottom: 0; }

.messageContainer .timeContainPlaceholder,
.msgSendingContainer .timeContainPlaceholder {
  position: relative;
  opacity: 0;
  float: right;
  -webkit-transform: translate(0, 30%);
  transform: translate(0, 30%); }

.timeContainPlaceholder::after {
  content: "";
  clear: right;
  display: none; }

.messageContainer .stared {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 3%;
  font-size: 100%;
  position: relative; }

.messageContainer .stared.hide {
  display: none; }

.msgSendingContainer .msgSending {
  font-size: 120%; }

.messageContainer .seen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 3%;
  font-size: 100%;
  position: relative; }

.messageContainer .message,
.msgSendingContainer .message {
  display: inline; }

.forwardBackground {
  background-color: rgba(255, 255, 255, 0.534);
  background-color: rgba(27, 26, 26, 0.534);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }

.forwardBackground .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 75%;
  width: 25%; }

.forwardBackground .container .head {
  background: #2600ff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 35px; }

.forwardBackground .container .head span {
  cursor: pointer; }

.forwardBackground .container .head span.text {
  cursor: default; }

.forwardBackground .container .head .search {
  position: relative;
  background-color: #d6d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  border: 1px solid #EDEDED; }
  .forwardBackground .container .head .search .hide {
    display: none; }
  .forwardBackground .container .head .search.typingFocus {
    background-color: #FFFFFF; }
  .forwardBackground .container .head .search > div {
    position: relative;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    padding: 0 1%; }
  .forwardBackground .container .head .search .searchClear {
    font-size: 120%;
    cursor: pointer;
    color: black;
    margin: 0; }
  .forwardBackground .container .head .search > .searchInput {
    background: none;
    position: relative;
    display: inline-block;
    max-width: 90%;
    padding: 4px;
    margin: 0;
    font-size: 100%;
    height: 100%;
    white-space: nowrap;
    /* border:1px solid black; */
    overflow: hidden;
    outline: none;
    cursor: text; }
    .forwardBackground .container .head .search > .searchInput.placeholder {
      position: absolute;
      color: gray; }
    .forwardBackground .container .head .search > .searchInput.hide {
      display: none; }

.forwardBackground .container .body {
  background-color: #FFFFFF;
  position: relative;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  width: 100%;
  overflow: auto; }

.forwardBackground .container .body .profileContain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0 3%; }

.forwardBackground .container .body .profileContain.hover:hover {
  background-color: #F5F5F5; }

.forwardBackground .container .body .profileContain .profileSelected {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  left: 0; }

.forwardBackground .container .body .profileContain .p_pix,
.forwardBackground .container .body .profileContain img {
  position: relative;
  margin: 0 1%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer; }

.forwardBackground .container .body .profileContain .p_pix .profileSelect {
  position: absolute;
  background-color: #06D755;
  color: white;
  font-size: 70%;
  padding: 5%;
  border-radius: 50%;
  border: 1px solid white;
  left: 0;
  top: 0;
  display: none; }

.forwardBackground .container .body .profileContain .p_pix .online {
  position: absolute;
  background-color: #06D755;
  color: white;
  padding: 12%;
  border-radius: 50%;
  border: 1px solid white;
  right: 0;
  bottom: 0;
  display: none; }

.forwardBackground .container .body .profileContain .nameContain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4% 0;
  margin: 0 1%;
  border-bottom: 1px solid #EDEDED; }

.forwardBackground .container .body .profileContain .nameContain .name,
.forwardBackground .container .body .profileContain .nameContain .details {
  height: 20px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 .5%; }

.forwardBackground .container .body .profileContain .nameContain .details {
  font-size: 75%;
  font-style: italic;
  color: gray; }

.forwardBackground .container .foot {
  background: #2600ff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  height: 30px; }

.forwardBackground .container .foot .names {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0 0 2%;
  -webkit-box-flex: 1.2;
  -ms-flex: 1.2;
  flex: 1.2;
  margin: 0; }

.forwardBackground .container .foot .namesOverlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%; }

.forwardBackground .container .foot .sendCotain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  border-radius: 50%; }

.forwardBackground .container .foot .sendCotain .send {
  background: #829926;
  position: relative;
  font-size: 180%;
  left: 23px;
  bottom: 15px;
  padding: 9px;
  cursor: pointer;
  -webkit-box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.801);
  box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.801);
  border-radius: 50%; }

/*  the default website ends here     */
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
/* for screen more narror than screen of 500px */
@media only screen and (max-width: 500px) {
  #chatMousePosBody {
    display: block; }
  #chat {
    position: absolute;
    width: 70%;
    z-index: 5;
    height: calc(100vh - 50px);
    display: none; }
  #chat:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.466);
    position: absolute;
    width: 30vw;
    height: calc(100vh - 50px);
    z-index: 2;
    left: 100%; }
  #message {
    width: 100%; }
  #message #messageHead #messageHeadNormal #messageChatMaximize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #message .selectAChatBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

/* for screen more narror than screen of 500px */
